@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #4f46e5;
  --color-secondary: #06b6d4;
  --color-accent: #f59e0b;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #6366f1; /* Indigo 500 */
  --color-secondary: #ec4899; /* Pink 500 */
  --color-accent: #22d3ee; /* Cyan 400 */
  --color-base-100: #0f172a; /* Slate 900 */
  --color-base-200: #1e293b; /* Slate 800 */
  --color-base-300: #334155; /* Slate 700 */
  --color-base-content: #f8fafc; /* Slate 50 */
}
