@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #192a56;
  --color-secondary: #F59E0B;
}


@plugin "daisyui/theme" {
  name: "dark";
  
  --color-primary: #192a56;
  --color-secondary: #F59E0B;
}
